body {
    font-family: $font;
    font-size: 100%;
    background-color:$off-white-bg;
}

h1, h2, h3, .heading {
    font-weight: $font-bold;
}

a, a:visited, a:active{
    text-decoration: none;
}

.heading{
    &--lg{
        font-size: 48px;
        line-height: normal;
    }

    &--md{
        font-size: 40px;
        line-height: normal;
    }

    &--sm{
        font-size: 24px;
        line-height: normal;
    }
}

.body-text{
    font-size: 16px;
    line-height: 2;

    &--18{
        font-size: 18px;
    }
}