
.container{
    // total size 1440px - 260px (side gaps) - 40px (padding gap)
    max-width: 1160px;
    margin: auto;
    padding: 0px 20px;
}

.container--lg{
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;


    @include for-tablet-portrait-down{
        max-width: 90%;
    }
}

// // table and above
// @media only screen and (min-width: 768px) {
//     .container--lg{
//         // total size 1440px - 184px (side gaps) - 40px (padding gap)
//         max-width: 1216px;
//     }
// }

.container--sm{
    // total size 1440px - 340px (side gaps) - 40px (padding gap)
    max-width: 1060px;
    margin: auto;
    padding: 0 20px;
}

.container--edge{
    max-width: 1920px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.mobile-hide{
    display: inline-block;
    @include for-tablet-portrait-down{
        display: none !important;
    }
}
.desktop-hide{
    display: none;
    @include for-tablet-portrait-down{
        display: inline-block !important;
    }
}
.col{
    width: 50%;
    float: left;
    @include for-phone-down{
        width: 100% !important;
    }
}

.link{
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;

    &:hover{
        color: $primary-green;
    }
}

.border-bottom{
    border-bottom: 1px solid $primary-green;
}
