.img-fluid{
    max-width: 100%;
    height: auto;
}

.mobile-hide{
    @include breakpoint('tablet-below'){
        display: none !important;
    }
}
.desktop-hide{
    @include breakpoint('tablet-above'){
        display: none !important;
    }
}
.col{
    width: 50%;
    float: left;
    @include breakpoint('phone-below'){
        width: 100% !important;
    }
}

.link{
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;

    &:hover{
        color: $primary-green;
    }
}

.border-bottom{
    border-bottom: 1px solid $primary-green;
}

.clear-fix::after{
    content: '';
    clear: both;
    display: table;
}


// margin auto
.m-r-auto{ margin-right: auto;}
.m-l-auto{ margin-left: auto;}
.m-auto{ margin-left: auto; margin-right: auto;}

// text-align 
.ta-l{text-align: left;}
.ta-c{text-align: center;}
.ta-r{text-align: right;}

// border radius
.br-10{border-radius: 10px;}

// vertical align
.va-top{vertical-align: top;}
.va-middle{vertical-align: middle;}

.fs-reset{font-size: 0;}

.wd-fc{width: fit-content;}

// padding

.p-t-50{ padding-top: 200px;}
.p-b-50{ padding-bottom: 200px;}