@mixin clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}

@mixin link {
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;

    &:hover{
        color: $primary-green;
    }
}

@mixin font-color($name, $color){
    .color-#{$name}{
        color: $color;
    }
}

@mixin font-size($name, $font-size, $line-height){
    .font-#{$name}{
        font-size: $font-size;
        line-height: $line-height;
    }
}

@mixin margin($number) {
    @for $i from 1 through 15{
        .m-r-#{$i} {
            margin-right: #{$i * $number}px;
        }
        .m-l-#{$i} {
            margin-left: #{$i * $number}px;
        }
        .m-t-#{$i} {
            margin-top: #{$i * $number}px;
        }
        .m-b-#{$i} {
            margin-bottom: #{$i * $number}px;
        }
    }
}


@mixin padding($number) {
    @for $i from 1 through 15{
        .p-r-#{$i} {
            padding-right: #{$i * $number}px;
        }
        .p-l-#{$i} {
            padding-left: #{$i * $number}px;
        }
        .p-t-#{$i} {
           padding-top: #{$i * $number}px;
        }
        .p-b-#{$i} {
            padding-bottom: #{$i * $number}px;
        }
    }
}

@include margin(4);
@include padding(4);


// @mixin col-name($name, $noOfCol, $margin){
//     .#{$name}{
//         display: inline-block;
//         width: calc((100% - #{$margin*($noOfCol - 1)})/ $noOfCol );
//         margin-left: $margin;

//         &:first-child{
//             margin-left: 0;
//         }
//     }
// }