@mixin clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}

@mixin link {
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;

    &:hover{
        color: $primary-green;
    }
}


// Break points

// @mixin for-phone-down {
//     @media (max-width: 599px) { @content; }
// }

// @mixin for-tablet-portrait-down {
//     @media (max-width: 899px) { @content; }
// }


// @mixin for-tablet-portrait-up{
//     @media (min-width: 600px) {@content;}
// }

// @mixin tablet-up{
//     @media only screen and (min-width: 769px) {@content;}
// }

@mixin for-phone-down {
    @media (max-width: 767px) { @content; }
}

@mixin for-tablet-portrait-down {
    @media (max-width: 1020px) { @content; }
}

@mixin tablet-up{
    @media only screen and (min-width: 1020px) {@content;}
}