// colors
$primary-green: #1fdb84;
$dark-grey-blue: #313a5a;
$marine: #031d5b;
$slate-blue: #5b6c94;
$off-white-bg: #f8f9fc;
$border-top-blue: #0a8aff;

// box shadow
$box-shadow:0 8px 34px 0 rgba(31, 219, 132, 0.6);

// fonts
$font:'Rubik', sans-serif;


// z-index 
$features-z-index:1;
$header-z-index:2;
$overlay-z-index:3;
$model-z-index:4;


// input field 
$field-border-color: #afd9c6;