.btn{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    color: white;

    border-radius: 10px 0px;
    background-color: #1fdb84;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
    font-weight: 700;
    cursor: pointer;

    // margin: 20px;

    &--sm{
        font-size: 16px;
        padding: 10px 24px;
    }

    &--lg{
        font-size: 18px;
        padding: 20px 40px;
    }

    &--long{
        font-size: 16px;
        padding: 20px 70px;
        border-radius: 5px 0px;
    }
}

.btn-group{
    font-size: 0;

    .btn{
        color: #6fdeaa;
        background-color: #f1fff8;
        border: solid 1px #aefdd9;
        box-shadow: none;
        border-radius: 5px;
        padding: 20px 30px;
        font-weight: 700;

        @include for-phone-down{
            font-size: 13px;
        }
    }

    .btn:not(:last-child){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn:not(:first-child){
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .btn--active{
       background-color: white; 
    }
}
