.footer{
    padding: 180px 0px 114px 0px;


    &__copyright{
        font-weight: 300;
        color: $slate-blue;
        text-align: center;
        font-size: 16px;
        margin-bottom: 50px;
    }

    &__nav{
        text-align: center;
        color: $slate-blue;
        font-size: 16px;

        @include breakpoint('phone-below'){
            font-size: 14px;
        }

        li{
            display: inline-block;
            margin-right: 20px;
            line-height: 2;

            &:not(:first-child):before{
                padding-right: 20px;
                content: '/';
            }
        }
    }

}