/* header */


// .clear-fix::after{
//     content: '';
//     clear: both;
//     display: table;
// }


.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 70px;
    fill: var(--main-white-color);
    color: white;
    transition: all 0.2s ease-in-out 0s;
    z-index: $header-z-index;
    background-color: transparent;
    padding-top: 20px;
    backdrop-filter: blur(10px);

    &__logo{
        font-size: 26px;
        color: white;
    }
}



.nav{
    font-size: 0;
    @include clearfix;

    li{
        // float: left;
        list-style: none;
        display: inline-block;
    }

    &__link{
        color: white;
        @include link
    }

    &__left{
        @include tablet-up{
            width: 25%;
        }
        width: 50%;
        display: inline-block;
        text-align: start;
        line-height: 2.2;
        vertical-align: middle;
        @include for-tablet-portrait-down{
        }
    }

    &__center{
        display: inline-block;
        width: 50%;
        text-align: center;
        font-weight: 300;
        vertical-align: middle;

        li{
            font-size: 16px;
        }

        li:not(:first-child){
            margin-left: 20px;
        }
    }

    &__right{
        display: inline-block;
        width: 25%;
        text-align: end;
        font-size: 16px;
        font-weight: 300;
        vertical-align: middle;
        @include for-tablet-portrait-down{
            width: 50%;
        }

        & > li:last-child{
            margin-left: 20px;
        }
    }
}

.hamburger{
    fill: white;
    height: 30px;
    width: 30px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    vertical-align: middle;

    &:hover{
    fill: $primary-green;
    }
}

// // tablet and above
// @media only screen and (min-width: 768px) {
//     .nav__left{
//         width: 20%;
//     }
//     .nav__right{
//         width: 30%;
//     }
// }
