.hero{
    // position: relative;
    height: 100vh;
    background-color: $dark-grey-blue;
    padding: 120px 0px 0px 0px;

    &__content{
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        margin: min(100px, 10vw) 0px 0px 0px;
        color: white;
    }

    &__heading{
        margin: 0px 0px 40px 0px;
        max-width: 15ch;
    }

    &__body{
        margin: 0px 0px 40px 0px;
        max-width: 54ch;
    }
    &__image{
        max-width: 467px;
        height: auto;
        text-align: end;
        margin: 0 0 0 auto;
    }
}