.splide {
    background: linear-gradient(90deg, #f8f9fc 40%, #313a5a 40%);
    padding: 200px 0;
    position: relative;

    &__track{
        width: 70%;
        margin-left: auto;
    }
    &__quote {
        position: absolute;
        top: 30px;
        // left: 250px;
        left: 212px;
        min-height: 351px;
        background-image: url('/autocrypt/assests/images/green-quote.svg');
        // background-image: url('/dist/image.svg#green-quote');
        background-size: auto 325px;
        background-repeat: no-repeat;

        @include for-tablet-portrait-down {
            width: 50%;
            height: auto;
            left: 20px;
            background-size: auto 80%;
        }

        @include for-phone-down {
            background-size: auto 40%;
        }

    }

    &__heading {
        max-width: 12ch;
        margin: 40px 0 0 10px;

        @include for-tablet-portrait-down {
            font-size: 30px;
        }

        @include for-phone-down {
            font-size: 20px;
            margin-left: 5px;
        }
    }

    &__slide {
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 6px;
        padding: 80px 50px 60px 50px;

    }

    &__slideQuote {
        margin-bottom: 20px;
        fill: $primary-green;
    }

    &__body {
        font-size: 18px;
        color: $slate-blue;
        margin-bottom: 40px;
        line-height: 2;
    }

    &__auth {
        font-size: 18px;
        color: $marine;
        font-weight: $font-medium;

        span {
            font-weight: 300;
        }
    }
}



.is-active {

    // transition: all 0.1s ease-in-out;
    .is-active .splide__slideQuote {
        fill: white;
    }

    .is-active .splide__body {
        color: white;
    }

    .is-active .splide__auth {
        color: white;
    }
}

// .splide__slide,
// .is-prev {
//     visibility: hidden;
// }

.is-active,
.is-next,
.is-next+.splide__slide {
    visibility: visible;
}

.splide__list > .is-active {
    background-color: $primary-green;
    box-shadow: 3px 5px 17px 0px rgb(31 219 132 / 50%);
}

.splide:not(.is-overflow) .splide__arrows {
    display: none;
}

.splide__pagination__page {
    background-color: transparent;
    border: 1px solid white;
}

.presentation>.is-active {
    background-color: white;
}

.splide__pagination {
    bottom: 5.5em;
}

.splide__pagination__page {
    height: 12px;
    width: 12px;
    margin: 4px;
}